.button {
    width: 270px;
    height: 60px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    border: none;
    background: linear-gradient(180deg, #694BCD 0%, #910BF6 100%);
    box-shadow: 0px 15px 30px -10px rgba(79, 79, 79, 0.42);
    border-radius: 8px;
}