.title {
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 900;
    font-size: 65px;
    background: linear-gradient(180deg, #684ECC 0%, #8F0FF4 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}